<br><br>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid" style="padding:15px;">
        <div class="row">
            <div class="hidden-xs col-sm-4 col-md-4">

            </div>
            <div class="hidden-xs- col-sm-4 col-md-4 text-center">
                Copyright &copy; 2015 <a href="http://www.mapito.org">Mapito.org</a>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4 text-right">
                <a href="https://github.com/map1t0" target="_blank"><i class="fa fa-github"></i> Source code</a>
            </div>
        </div>
    </div>
</div>
