<!DOCTYPE html>
<html>
<head>
	<% include ./partials/static-css-js %>
	<title>Mapito.org - Error page</title>
</head>

<body>

	<div class="container">

			<div class="page-header" style="margin-top: 40px;">
				<h2 id="dashboard-title">Mapito.org</h2>
			</div>

			<p>
				An unexpected error has occurred. Please try again later.
			</p>
			<p>
				<a href="http://mapito.org">Mapito home page</a>
			</p>

	</div>

	<% include ./partials/googleanalytics %>
	
</body>
</html>
