<!DOCTYPE html>
<html>
<head>
<% include ./partials/static-css-js %>
<title>Mapito.org - Reset your password</title>
<script src="../javascript/reset-password.js"></script>

<style>
.modal-dialog-center {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}
</style>
</head>

<body>
	<br>
	<div class="container">

		<div class="page-header">
			<h2 id="dashboard-title">Reset your password</h2>
		</div>

		<div class="alert alert-danger" id="errorMsg" role="alert" style="display: none;">
			An unexpected error has occurred. Please try again later. <br>
			If this problem continues, please contact with system
			administrator.
		</div>

		<form method="post" id="reset-password-form" action="/resetPassword">

			<div class="form-group">
				<label>New password:</label>
				<input type="password" class="form-control" name="newpassword" id="new-password">

				<label>Confirm new password:</label>
				<input type="password" class="form-control" name="confirmpassword" id="confirm-password">

				<p class="text-warning"></p>

				<input type="hidden" class="form-control" name="rpid" value="<%=rpid%>">
				<input type="hidden" class="form-control" name="secret" value="<%=secret%>">
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Save">
			</div>

		</form>

	</div>
	<% include ./partials/googleanalytics %>
</body>
</html>
