.sidebar {
	background-color: #F8F8F8;
	border-right: 1px solid;
	border-color:#E7E7E7;
}

.sidebar-subcategories {
	padding-left:20px;
	display: none;
}


body {
	padding: 0px;
	margin: 0px;
}

.hide-page {
	display: none;
}

/* sidebar settings */
.list {
	display: block;
	bottom: 0;
	max-width: 100px;
	overflow: auto;
	padding: 0px;
}


td {
	padding:1px 4px;;
}
